*{
	margin:0px;
	padding:0px;
}
.holder{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.box{
	display:flex;
	height:100px;
	width:100px;
	background-color:green;
	font-size:50px;
}

#e6{
	background-color:red;
}

#e7{
	background-color:blue;
}
